@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');
.root{
color: #fff;
font-family: 'Montserrat', sans-serif;
}
​
p{
    margin: 0;
}

.nav-link{
    color: #fff;
}
​
.side-bar{
    background-color: #000;
    width: 100%;
}
​
.container{
    padding:0.8rem 6rem;
}
​
.brand-logo{
    width: 18%;
  
}
​
/* LOGIN CONTAINER STYLING STARTS HERE */
​
.spacing{
    margin: 2rem 0;
}
.login-btn{
    background: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
}
​
​
.password-text{
    margin-bottom: 5rem;
}

​
​
.login-text{
    font-size: 43px;
    font-weight: lighter;
    text-transform: capitalize;
    line-height: 55px;
    margin-left: 2rem;
}
​
/* LOGIN CONTAINER STYLING ENDS HERE */
​
/* FORM CONTAINER STYLING STARTS HERE */
​
.form-spacing{
    margin: 1rem 0;
}
​
.form-label{
    font-size:  15px;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 21.94px;
   
}
​
.form-field{
    width: 100%;
    padding:10px;
    border-radius: 30px;
    border: none;
    background: #ffffff1c;
    color: #fff;
    font-size: 16px;
}
​
.forget-btn{
text-align: right;
margin-top: 10px;
}
​
.forget-btn a{
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
}
​
/* FORM CONTAINER STYLING ENDS HERE */
​
/* LOGIN BUTTON STYLING STARTS HERE */
​
.container-btn{
    margin: 2rem 0;
}
​
.login-btn-two{
    padding: 15px 7rem;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    background: #3399C6;
border-radius: 60px;
border: none;
color: #fff;
font-style: normal;
cursor: pointer;
font-family: 'Montserrat', sans-serif;
}
​
/* LOGIN BUTTON STYLING ENDS HERE */
.background-img{
    background-image: url("../Assets/back_bg.png");
    height: 800px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
​
.bg-grid{
    width: 100%;
}
/* RESPONSIVE STYLING STARTS HERE */
/* Mobile Responsive */
@media (max-width: 575.98px){ 
    .side-bar{
        height: 100%; 
}
   .container{
        padding:0.8rem 2rem;
    }
    .container-btn{        margin: 2rem 0rem;
    }
    .form-label{
        margin: 1rem 0;
    }
 }
 @media (min-width: 576px) { 
    .side-bar{
        height: 100%; 
    }
    .form-label{
        margin: 1rem 0;
    }
​
    .background-img{
        background-image: url("../Assets/back_bg.png");
        /* height: 900px; */
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
  }
  /* RESPONSIVE FOR PC AND LAPTOP SCREEN */